<app-page-header titulo="Carrusel"></app-page-header>



<ion-content>
  <swiper
  [slidesPerView]="1"
  [spaceBetween]="10"
  [navigation]="true"
  [pagination]="{ clickable: true }"
>
  <ng-template swiperSlide *ngFor="let imagen of usarCamara.getListaUrl(); index as position">

    <ion-card>
      <ion-img [src]="imagen"></ion-img>
      <ion-card-header>
        <ion-card-title>Foto {{position}}</ion-card-title>
      </ion-card-header>
    </ion-card>      

  </ng-template>

</swiper>
</ion-content>