<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>
          HOME
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/videos" expand="block" fill="clear" shape="round">Vídeos</ion-button>
  <ion-button routerLink="/camara" expand="block" fill="clear" shape="round">Cámara</ion-button>
  <ion-button routerLink="/carrusel" expand="block" fill="clear" shape="round">Carrusel</ion-button>
  <ion-button routerLink="/geolocalizacion" expand="block" fill="clear" shape="round">Geolocalización</ion-button>
  <ion-button routerLink="/graficos" expand="block" fill="clear" shape="round">Gráficos</ion-button>
  <ion-button routerLink="/fotos" expand="block" fill="clear" shape="round">Fotos</ion-button>

  
</ion-content>